.star{
    position: absolute;
    width: 0;
    height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent; 
border-bottom: 88px solid yellow;
top: 50%;
left: 50%;
transform: translate (-50%, -50%);
}
.star::after{
    content: "";
    position:absolute;
width:0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top: 80px solid yellow;
margin: 30px 0 0 -50px;
}