body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
header{
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
}
main{
    padding: 1rem;
    display: flex;
    text-align: center;
   
}
section{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color:white;
    color: black;
    border-radius: 5px;
    text-align: center;
}

footer{
    text-align: center;
    padding: 1rem;
background-color:white;
color: black;
position: absolute;
width: 100%

}

p{
    text-align: center;
}
.button-container{
    text-align: center;
  } 
  .my-button{
    background-color: transparent;
    color: #fff;
    border: 2px solid;
  }
  head{
    text-align: left;
    text-decoration-color: white;
  }

